@use "../../../sass/colors.scss" as Colors;

#pokemon-table,
th,
td {
    border: 1px solid Colors.$gray;
    border-collapse: collapse;
}

#actions {
    border: none;
    display: flex;
    gap: 10px;
    width: 0;
}

th,
td {
    padding: 10px;
}

#pokemon-table {
    display: table;
}

tr td:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px;

    button{
        height: 40px;
        aspect-ratio: 1 / 1;
        color: white;
        border: none;
        background-color: Colors.$purple;
        border-radius: 100%;
    }

    span{
        font-weight: 500;
        font-size: x-large;
    }
}